.card {

    display: inline-block;
    font-family: "Space Mono";  
    text-align: center; 
    padding: 0;
    background-color: #4A4146;
    padding: 12px 10px;
    width: 525px;
    height: 185px;



} 