.card {    
    
    display: inline-block;
    font-family: "Space Mono";
    text-align: center;
    background-color: #4A4146;
    padding: 33px 22px;
    margin-left: 27%;
    margin-top: 10%;
    width: 525px;


}


.buttons  { 

    margin-top: 2%;
    display:flex;
    justify-content: space-evenly;
  

}




#b1 {

margin-left: 200px;



}


#b2 {

    margin-right: 250px;
    
}
