header.index {
   
    justify-content: space-between; /* CADA ELEMENTO EM UMA EXTREMIDADE*/
    display: flex;
    padding: 10px  20px;
    border-bottom : 10px solid #000000;
    background-color: #4A4146;
    height: 80px;
 
 
 }