






div.container {

    display: flex;
    background-image: url('../assets/background.jpg');
    align-items: center;
    justify-content: center;
    /*background-color: #F25A70;*/
    width: 100%;
    height: 595px;
    justify-items: center;

}   

